$('#node_<%= @node.id %>').replaceWith('<div class="w" id="node_<%= @node.id %>" style="left: <%= @node.left %>px; top: <%= @node.top %>px;"><%= @node.id %><div class="ep"></div></div>');

jsPlumbDemo.init();
