<div class="requests" id="request_<%= request.id %>">
  Id: <%= request.id %><br>
  
  Исток: <%= request.source_id %><br>

  Сток: <%= request.source_id %><br>

  Размер: <%= request.size %><br>

  Время жизни: <%= request.lifetime %>
</div>
